#heading{
    background-color: black;
    color: #faf0d9;
}

#global{
    background-color: #faf0d9;
    color: black;  
}

thead{
    color: rgb(168, 20, 10) ;
}

#tbody{
    color: darkgoldenrod ;
}

.field-1 {
    color: green;
}
.container{
    background-color: indigo;
}


    
